.editor {
  background: #f8f9fc;
  border-radius: 6px;
  border: none;
  width: 100%;
  padding: 20px 24px;
  outline: none;
  line-height: 20px;
  font-family: Courier;
  resize: none;
  transition: height 0.1s ease-out;
}
