.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
}

.hidden {
  display: none;
}

.title {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 150%;
  color: var(--primary-text-color);
  flex-grow: 1;
}

.subTitle {
  font-weight: normal;
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-left: 8px;
}

.operations {
  font-size: 1rem;
  text-align: right;
  color: var(--secondary-text-color);
  margin-left: 16px;
  flex: 1 50%;
}

.relativeResults {
  margin-left: 16px;
}

.full {
  padding-bottom: 32px;
}

.hideSetupButton {
  margin-right: 10px;
}

.settings {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchDeps {
  flex-grow: 1;
  margin-left: 24px;
}
