.container {
  margin-bottom: 48px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 150%;
  color: var(--primary-text-color);
  margin-right: 24px;
}

.operations {
  font-size: 1rem;
  text-align: right;
  color: var(--secondary-text-color);
  margin-left: 16px;
  flex: 1 50%;
}

.relativeResults {
  margin-left: 16px;
}

.deleteIcon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  bottom: 12px;
  cursor: pointer;
  opacity: 0.48;
  transition: opacity var(--animation-config-micro-transitions);

  &:hover {
    opacity: 0.72;
  }
}

.deleteIconFill {
  fill: var(--secondary-text-color);
}
