@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

div,
textarea {
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font-family: 'Inter', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin: 0 0 4px;
  padding: 0;
}
