// CSS variables are slow, but very useful for MVP
// TODO: replace css variables with some better theming solution

:root {
  --accent-color: #2b38ae;
  --accent-inner-text: #ffffff;
  --border-color: #e9ebf0;
  --primary-text-color: #141137;
  --secondary-text-color: #9a9ca8;
  --red-text-color: #e02f4f;
  --green-text-color: #44b556;
  --grid-max-width: 1120px;
  --grid-side-padding: 40px;
}
