.container {
  width: 100%;
  max-width: 400px;
}

.description {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonLink {
  text-decoration: none;
  appearance: none;
  outline: none;
}
